<nav class="nav-menu">
    <a class="nav-link" href="index.html" data-page="home">Hjem</a>
    <a class="nav-link" href="pages/deployment-guide.html" data-page="deployment-guide">Deployment Guide</a>

    <div class="nav-group">
        <button class="moreToggle nav-parent" type="button" aria-expanded="false">
            S2: Application Programming
            <span class="chevron" aria-hidden="true">+</span>
        </button>
        <div class="sub-nav" hidden>
            <a class="nav-link sub-link" href="pages/databases.html" data-page="databases">Databaser</a>
            <a class="nav-link sub-link" href="pages/oop.html" data-page="oop">Grundlæggende OOP</a>
            <a class="nav-link sub-link" href="pages/wpf.html" data-page="wpf">WPF</a>
        </div>
    </div>

    <div class="nav-group">
        <button class="moreToggle nav-parent" type="button" aria-expanded="false">
            S3: Software Construction
            <span class="chevron" aria-hidden="true">+</span>
        </button>
        <div class="sub-nav" hidden>
            <a class="nav-link sub-link" href="pages/page4.html" data-page="page4">Page 4</a>
            <a class="nav-link sub-link" href="pages/page5.html" data-page="page5">Page 5</a>
            <a class="nav-link sub-link" href="pages/page6.html" data-page="page6">Page 6</a>
        </div>
    </div>

    <div class="nav-group">
        <button class="moreToggle nav-parent" type="button" aria-expanded="false">
            S4.1: Distributed Systems
            <span class="chevron" aria-hidden="true">+</span>
        </button>
        <div class="sub-nav" hidden>
            <a class="nav-link sub-link" href="pages/page4.html" data-page="page4">Page 4</a>
            <a class="nav-link sub-link" href="pages/page5.html" data-page="page5">Page 5</a>
            <a class="nav-link sub-link" href="pages/page6.html" data-page="page6">Page 6</a>
        </div>
    </div>

    <div class="nav-group">
        <button class="moreToggle nav-parent" type="button" aria-expanded="false">
            S4.2: Algorithms &amp; Data Structures
            <span class="chevron" aria-hidden="true">+</span>
        </button>
        <div class="sub-nav" hidden>
            <a class="nav-link sub-link" href="pages/page4.html" data-page="page4">Page 4</a>
            <a class="nav-link sub-link" href="pages/page5.html" data-page="page5">Page 5</a>
            <a class="nav-link sub-link" href="pages/page6.html" data-page="page6">Page 6</a>
        </div>
    </div>
</nav>
